<section class="about" class="sticky-top">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<img class="about__img" src="img/girl.jpg" alt="girl">
			</div>

			<div class="offset-1 col-7">
				<h2 class="section-title">about me</h2>
				<p class="section-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit expedita esse ducimus fugiat ipsum laboriosam maiores est, veritatis, doloremque quod reprehenderit facilis sint quis qui suscipit officia commodi vero asperiores praesentium cumque adipisci? Nesciunt hic ad quam tenetur veritatis fuga libero itaque, ex neque ullam quas! Ipsam harum voluptates, ad facilis dolorem sequi illum praesentium quisquam debitis asperiores, est reprehenderit quo nam excepturi obcaecati fugit eveniet veniam. Veniam nihil hic fugiat officiis sit quae quidem ipsum rem, atque rerum reprehenderit, sed velit impedit, quibusdam maiores nemo sint laudantium distinctio consectetur. Nisi vero ab molestiae ut eaque, magnam! Dicta, possimus, doloremque.</p>
			</div>
		</div>
	</div>
</section>