* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,body {
	
}

body {
	font-family:  'Istok Web', sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: $white;
	}
}

.section-title {
	font-size: 24px;
	font-weight: 700;
	color: $white;
	text-transform: capitalize;
	margin-bottom: 30px;
}

.section-descr {
	font-size: 14px;
	color: #7A7A7A;
	line-height: 1.8;
}