.first-screen {
	min-height: 100vh;
	background: $bg-header url("../img/thames-night.jpg") no-repeat center/cover;
	background-attachment: fixed;
	position: relative;
    color: $white;
    display: flex;
    align-items: center;

     &::before {
        content: "";
        background-color: rgba($bg-header, .4);
        @include overlay(0);
    }

    // & > * {
    //     position: relative;
    //     z-index: 2;
    // }
}

.header {
	width: 100%;
	background-color: $bg-header;
	color: $white;
	position: fixed;
	z-index: 1;
}

.navigation {
	width: 100%;

	&__brand {
		color: $orange;
	}

	&__list {
		width: 100%;
		max-width: 800px;
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link {
		display: block;
		position: relative;
		width: 100%;
		color: $white;
		letter-spacing: 2px;
		text-transform: uppercase;


		&::after {
			content: " ";
			display: block;
			position: absolute;
			bottom: 25%;
			width: 0;
			height: 2px;
			border-bottom: 2px solid $orange;
			transition: width .5s;
		}

		&:hover::after,
		&:active::after,
		&:focus::after {
			width: 100%;
		}

		&:hover {
			color: $orange;
		}

		&:focus {
			color: $white;
		}
	}
}
