<nav class="nav-bar">
	<ul class="nav-bar__list">
		<li class="nav-bar__item">
			<a href="#" class="nav-bar__link">
				//= svg-user.html
			</a>
		</li>
		<li class="nav-bar__item">
			<a href="#" class="nav-bar__link">
				//= svg-wallet.html
			</a>
		</li>
		<li class="nav-bar__item">
			<a href="#" class="nav-bar__link nav-item-active">
				//= svg-event.html
			</a>
		</li>
		<li class="nav-bar__item">
			<a href="#" class="nav-bar__link">
				//= svg-lifebuoy.html
			</a>
		</li>
	</ul>
</nav>